<html>
	<head>
		<title>Set JWT Page</title>
	</head>
	<body>
                
                <script>
                    function get_token () {
                        var myUrl = window.location + '';
			var sub_token = myUrl.split('=')[1];
			var token = sub_token.split('&')[0];
                        return token;
                    };
                    
                    function parseJwt (token) {
                        var base64Url = token.split('.')[1];
                        var base64 = decodeURIComponent(atob(base64Url).split('').map((c)=>{
                        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                        }).join(''));
                    
                        return JSON.parse(base64);
                    };
		    const jwt = parseJwt(get_token())
		    fetch('/set_jwt', {
    			headers: {
			    'Content-Type': 'application/json'
    			},
    		    	method: 'POST',
    		    	body: JSON.stringify({
				"jwt": {"permissions":["get:movies", "post:movies"]}
   		   	})
		    }).then(function (response) { // At this point, Flask has printed our JSON
    			return response.json();
		    }).then(function (json) {

    			console.log('POST response: ');

    			// Should be 'OK' if everything was successful
    			console.log(json);
		    });
                </script>
	</body>
</html>
