<html>
	<head>
		<title>Set JWT Page</title>
	</head>
	<body>
		<form method="get" action="/set_jwt">
			<p id="jwt" name="jwt"></p>
		</form>
                
                <script>
		    // POST
		    const token = document.getElementById('jwt');
		    const jwt = token.value;
		    fetch('/set_jwt', {

    			// Declare what type of data we're sending
    			headers: {
			    'Content-Type': 'application/json'
    			},

    		    	// Specify the method
    		    	method: 'POST',

    		    	// A JSON payload
    		    	body: JSON.stringify({
        		    "jwt": jwt
   		   	})
		    }).then(function (response) { // At this point, Flask has printed our JSON
    			return response.text();
		    }).then(function (text) {

    			console.log('POST response: ');

    			// Should be 'OK' if everything was successful
    			console.log(text);
		    });

                    function get_token () {
                        var myUrl = window.location + '';
			console.log('------------->url-------->', myUrl);
                        /*const urlParams = new URLSearchParams(url);*/
			var sub_token = myUrl.split('=')[1];
			var token = sub_token.split('&')[0];
			/*var token = new URLSearchParams(window.location.hash).get('access_token');*/
			/*token = new URLSearchParams(url.search).get('access_token');*/
                        /*const token = urlParams.get('access_token');*/
                        console.log('------------->>>>>>>>>TOKEN--->', token);
                        return token;
                    };
                    
                    function parseJwt (token) {
                        // https://stackoverflow.com/questions/38552003/how-to-decode-jwt-token-in-javascript
                        var base64Url = token.split('.')[1];
                        var base64 = decodeURIComponent(atob(base64Url).split('').map((c)=>{
                        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                        }).join(''));
                    
                        return JSON.parse(base64);
                    }
                    document.getElementById('jwt').innerHTML = parseJwt(get_token())
                    ;
                </script>
	</body>
</html>
